<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- ==================DATASOURCE-CONFIGURATION DETAILS================== -->

	<!-- Scan the classpath for annotated components that will be auto-registered 
		as Spring beans. By default, the Spring-provided @Component, @Repository, 
		@Service, and @Controller stereotypes will be detected. -->
	<context:component-scan base-package="com.techie.kart.controller" />

	<!-- Activates various annotations to be detected in bean classes: Spring's 
		@Required and @Autowired, as well as JSR 250's @PostConstruct, @PreDestroy 
		and @Resource (if available) and JPA's @PersistenceContext and @PersistenceUnit 
		(if available). -->
	<context:annotation-config />

	<!-- Instruct Spring to perform declarative transaction management automatically 
		on annotated classes. for mode="aspectj"/ see SPR-6392 -->
	<tx:annotation-driven />

	<!-- import the datasource definitions file -->
	<import resource="applicationContext-dataSource.xml" />

</beans>
